.products-list {
  position: relative;
  width: 100%;
}
.products-list li.products-list-title {
  color: #a6a7b3;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  line-height: 16px;
}

.tableHead {
  padding: 32px 0;
}

.col-product {
  width: 45%;
}

.col-quantity {
  width: 20%;
}

.col-price {
  width: 20%;
}

.col-total {
  width: 15%;
}

